nav{
}

h2{
    color: purple;
}
body{
    background-color: rgb(245, 240, 235);
}
footer{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-align: center;
    font-size: 10px;
    color: rgb(189, 37, 189);
}